/* Estilo para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Estilo para el encabezado */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* Estilo para las secciones */
section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 24px;
  margin-top: 0;
}

/* Estilo para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px 12px;
  border: 2px solid #ddd;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

/* Estilo para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilo para enlaces */
a {
  color: #0070cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

details {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}
